/*-------------
 	General
-------------*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font: normal 16px sans-serif;
	color: #555;
}

ul, nav{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;

	opacity: 0.9;
}

a:hover{
	opacity: 1;
}

a.btn{
	color: #fff;
	border-radius: 4px;
	text-transform: uppercase;
	background-color: #2196F3;
	font-weight: 800;
	text-align: center;
}

hr{
	width: 150px;
	height: 2px;
	background-color: #285430;
	border: 0;
	margin-bottom: 80px;
}

h1 {
    font-size: 4vh
}

button.prev  {
	  content: "";
	  border-style: solid;
	  border-width: 0.15em 0.15em 0 0;
	  display: inline-block;
	  height: 0.45em;
	  position: relative;
	  top: 0.15em;
	  transform: rotate(135deg);
	  vertical-align: top;
	  width: 0.45em;
	  margin-right: 0.5em;
	}
  
  
  button.next {
	  content: "";
	  border-style: solid;
	  border-width: 0.15em 0.15em 0 0;
	  display: inline-block;
	  height: 0.45em;
	  position: relative;
	  top: 0.15em;
	  transform: rotate(-45deg);
	  vertical-align: top;
	  width: 0.45em;
	  margin-left: 0.5em;
	}
  
img {
    display: block;
    max-width:17vw;
    max-height:17vh;
    width: auto;
    height: auto;
}

section.visible {
    opacity: 1;
    transform: translate(0, 0);
}

section {
    opacity: 0;
    transform: translate(0, 20px);
    transition: all 1s;
}

section{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 125px 100px;
}

#console {
  font-size: 12px;
  font-family:"Inconsolata", "Monaco", "Consolas", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  color: #999;
  line-height: 18px;
  margin-top: 20px;
  max-height: 150px;
  overflow: auto;
}

#mySwipe div b {
  display:block;
  font-weight:bold;
  font-size:20px;
  text-align:center;
  margin:10px;
  background: #fff;
  border-color: #E5E5E5 #D3D3D3 #B9C1C6;
}

.swipe {
	overflow: hidden;
	visibility: hidden;
	position: relative;
  }
  .swipe-wrap {
	overflow: hidden;
	position: relative;
  }
  .swipe-wrap > div {
	float:left;
	width:100%;
	position: relative;
  }
	  
@media (max-width: 1000px){

	section{
		padding: 100px 50px;
	}

}

@media (max-width: 600px){

	section{
		padding: 80px 30px;
	}

}

section h3.title{
	color: #414a4f;
	text-transform: capitalize; 
	font: bold 32px 'Open Sans', sans-serif;
	margin-bottom: 35px;
	text-align: center;
}

section p{
	max-width: 800px;
	text-align: center;
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;
}

ul.grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


/*-------------
 	Header
-------------*/

header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 35px 100px 0;
}

.div-header:hover {
	position: absolute;
    width: 0;
    height: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	bottom: 20px;
	background: transparent;
	border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 55px solid #A4BE7B;
  }

.div-header {
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 55px solid white;
    background: transparent;
}



header h2{
	font-family: 'Quicksand', sans-serif;
}

header nav{
	display: flex;
}

header nav li{
	margin: 0 15px;
}

header nav li:first-child{
	margin-left: 0;	
}

header nav li:last-child{
	margin-right: 0;	
}



@media (max-width: 1000px){
	header{
		padding: 20px 50px;
	}
}


@media (max-width: 700px){
	header{
		flex-direction: column;		
	}

	header h2{
		margin-bottom: 15px;
	}
}



/*----------------
 	Hero Section
----------------*/

.hero{
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;
}

.hero .background-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-color: #2196F3;
	z-index: -1;
}

.hero .background-image:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #414a4f;
	opacity: 0.75;
}

.hero h1{
	font: bold 60px 'Open Sans', sans-serif;
	margin-bottom: 15px;
}

.hero h3{
	font: normal 28px 'Open Sans', sans-serif;
	margin-bottom: 40px;
}

.hero a.btn{
	padding: 20px 46px;
}

@media (max-width: 800px){

	.hero{
		min-height: 600px;
	}

	.hero h1{
		font-size: 48px;
	}

	.hero h3{
		font-size: 24px;
	}

	.hero a.btn{
		padding: 15px 40px;
	}

}



/*--------------------
 	Our Work Section
---------------------*/

.оur-work{
	background-color: #fff;
}

.our-work .background-image{
	justify-content: center;
	width: 470px;
	height: 300px;
	background-size: cover;
	background-color: #2196F3;
}

.our-work .grid li{
	padding: 20px;
	height: 350px;
	border-radius: 3px;

	background-clip: content-box;
	background-size: cover;
	background-position: center;
	background-color: #333;
}

.our-work .grid li.small{
	flex-basis: 40%;
}

.our-work .grid li.large{
	flex-basis: 60%;
}


@media (max-width: 1000px){

	.our-work .grid li.small,
	.our-work .grid li.large{
		flex-basis: 100%;
	}

}



/*----------------------
 	Features Section
----------------------*/

.features{
	background-color: #f7f7f7;
}

.features .content{
	text-align: center;
	padding: 0 30px;
}

.features .grid li{
	padding: 0 30px;
	flex-basis: 33%;
	text-align: center;
}

.features .grid li i{
    font-size: 50px;
    color: #285430;
    margin-bottom: 25px;
}

.features .grid li h4{
	color: #555;
    font-size: 20px;
    margin-bottom: 25px;
}

.features .grid li p{
    margin: 0;
}

@media (max-width: 1000px){

	.features .grid li{
		flex-basis: 70%;
		margin-bottom: 65px;
	}

	.features .grid li:last-child{
		margin-bottom: 0;
	}

}


@media (max-width: 600px){

	.features .grid li{
		flex-basis: 100%;
	}

}



/*--------------------
 	Reviews Section
--------------------*/

.reviews{
	background-color: #f7f7f7;
}

.reviews .quote{
	text-align: center;
	width: 80%;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 0;
}

.reviews .author{
	margin-top: 50px;
    font-size: 18px;
}

.reviews .author:last-child{
    margin-bottom: 0;
}

@media (max-width: 1000px){

	.reviews .author{
	    font-size: 16px;
	}
	.reviews .quote{
		font-size: 20px;
	}

}



/*---------------------
 	Contact Section
---------------------*/

.contact{
	background-color: #fff;
}

.contact form{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	max-width: 800px;
	width: 80%;
}

.contact form input{
	padding: 15px;
	flex: 1;
	margin-right: 30px;
	font-size: 18px;
	color: #555;
}

.contact form .btn{
	padding: 18px 42px;
}


@media (max-width: 800px){

	.contact form input{
		flex-basis: 100%;
		margin: 0 0 20px 0;
	}

}




/*-------------
 	Footer
-------------*/

footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
	background-color: #414a4f;
	padding: 60px 0;
}

footer ul{
	display: flex;
	margin-bottom: 25px;
	font-size: 32px;
}

footer ul li{
	margin: 0 8px;	
}

footer ul li:first-child{
	margin-left: 0;	
}

footer ul li:last-child{
	margin-right: 0;	
}

footer p{
	text-transform: uppercase;
	font-size: 14px;
	color: rgba(255,255,255,0.6);
	margin-bottom: 10px;
}

footer p a{
	color: #fff;
}

@media (max-width: 700px){

	footer{
		padding: 80px 15px;
	}

}

/*----------------
 	upstream Section
----------------*/

.upstream{
	position: relative;
	justify-content: center;
	min-height: 100vh;
	text-align: center;
}

.upstream .bg-container {
	width:100%;
  }

.upstream .background-image{
	position: flex;
	justify-content: center;
	background: no-repeat center center cover;
	background-size: cover;
	max-width: 110%;
	max-height: 110%;
	min-width: 100%;
	min-height: 100%;
	/* background-color: #2196F3; */
	z-index: -1;
	margin-left:20px;
	margin-right: 20px;
	margin-bottom: 80px;
}

.upstream .background-image:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* background-color: #414a4f; */
	opacity: 0.75;
}

.upstream a.btn{
	padding: 20px 46px;
}




/* -- Demo ads -- */

@media (max-width: 1200px) {
	#bsaHolder{ display:none;}
}
